.elevator-list-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .elevator-list-item-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    .elevator-arrow{
      .elevator-arrow-wrap{
        .top-arrow{
          display: flex;
          svg{
            width: 30px;
            height: 30px;
            path{
              fill: #030D3D;
            }
          }
        }
        .down-arrow{
          display: flex;
          svg{
            width: 30px;
            height: 30px;
            path{
              fill: #030D3D;
            }
          }
        }
      }
    }
    .elevator-box{
      position: relative;
      background-color: #030D3D;
      width: 140px;
      height: 140px;
      border-bottom: 1px solid #fff;
      &.active{
        background: linear-gradient(
          to top, 
          #590d44 0%,
          #c91d58 60%,
        );
        transition: background-color 0.3s ease;
      }
      .elevator-box-wrap{
        .elevator-box-number{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 140px;
          .text{
            color: #fff;
            font-size: 24px;
            font-weight: 600;
          }
        }
        .elevator-box-panel{
          position: absolute;
          right: 5px;
          top: 5px;
          .panel-number{
            display: flex;
            flex-direction: column;
            gap: 2px;
            .number{
              background-color: #FABC3F;
              border-radius: 50px;
              padding: 2px;
              width: 16px;
              height: 16px;
              text-align: center;
              .text{
                color: #000;
                font-size: 15px;
                font-weight: 600;
                
              }
            }
          }
        }
      }
    }
  }
}