@use "../../utils/mixins" as *;

.elevator {
  background-color: #F4F4F4;
  padding: 50px 0;
  @include tablet-landscape {
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}